@charset "UTF-8";
body {
  margin: auto;
  max-width: 40em;
  font-family: 'Times New Roman', Times, serif;
  color: black (30, 30, 30);
  background-color: oldlace (230, 230, 230);
}

.content {
  background-color: lightpink;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 20px;
  border-radius: 6px;
}

.top {
  background-color: lightpink;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
  background: url(https://www.easterneuropefoods.co.uk/image/cache/catalog/headers/header-alcohol-1170x379-1170x379.jpg) top center;
}

h1 {
  color: black;
  text-align: center;
}

h2 {
  color: black;
  letter-spacing: 3px;
}

h3 {
  color: black;
  letter-spacing: 1.5px;
}

nav {
  color: lightpink;
  padding-left: 9px;
}

a.nav:link {
  color: black;
  text-decoration: none;
  padding: 8px 5px;
  display: inline-block;
}

a.nav:visited {
  color: black;
}

a.nav:hover {
  background-color:lightpink;
  border-radius: 3px;
}

a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
}

a:hover {
  color: lightpink(95, 95, 95);
}

a.header:link {
  color: black;
  text-decoration: none;
}

a.header:visited {
  color: black;
}

form.nav {
  float: right;
  padding: 8px 14px;
}

input {
  margin-bottom: 8px;
}

input.alcohol {
  width: 300px;
}

form.alcohol {
  float: right;
}

textarea {
  font-family: 'Times New Roman', Times, serif;
  width: 300px;
  height: 100px;
  resize: vertical;
}

.comment {
  padding: 8px 14px;
  background-color: oldlace(221, 221, 221);
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  word-wrap: break-word;
}

form.buttons {
  color: lightpink;
  display: inline-block;
}