{% extends "layout.html" %}
{% block content %}
{% if session.user_id %}
<div class="logblock">
  <a href="/welcome_page" class="button" style="background-color: lightpink;">Oma sivu</a>
  <a href="/alcohols" class="button" style="background-color: lightpink;">Alkoholit</a>
  <a href="/favorites" class="button" style="background-color: lightpink;">Suosikit</a>
  <a href="/alcoholpage" class="button" style="background-color: lightpink;">Omat alkoholit</a>
</div> 
<form action="/add_new" method="POST">
  <h2>Lisää uusi alkoholi</h2>
  <p class="error">{{ error1 }}</p>
  <p><b>Nimi:</b>
    <input type="text" name="name" value={{name}}>
  </p>
  <p class="error">{{ error2 }}</p>
  <p><b>Prosentit:</b>
    <input type="number" name="persentages" value={{persentages}}>
  </p>
  <p><b>Kategoria</b></p>
  <ul id="list">
    {% for tag in tags %}
    <li> <input type="text" name="name_{{tag[0]}}" class="input" value="{{tag[0]}}">
        <input type="submit" name="{{tag[0]}}" class="button" value="Muuta">
    <input type="submit" name="remove_{{tag[0]}}" class="button" style="background-color: red;" value="X">
    {% endfor %}
    <br>
    <input type="text" name="add_new_tag" class="input" placeholder="uusi">
    <input type="submit" name="new_tag" class="button" style="background-color: #FFC45D;" value="Lisää">
</ul>
  <p><b>Kuvaus:</b><br>
    <textarea name="instructions" rows="18" cols="40" maxlength="10000">{{description}}</textarea><br>
    <input type="submit" class="button" value="Lähetä">
  </p>
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
<br>
{% else %}
<h3>Vain sisäänkirjautunut käyttäjä voi toimia tällä sivulla</h3>
<div class="logblock"> 
    <h3 class="loglink">Kirjautumalla sisään voit</h3>
    <ul>
      <li>Lisätä ja arvostella alkoholeja</li>
      <li>Merkitä alkoholeja suosikiksi</li>
    </ul>
    <a href="/login" class="loglink"> Sisäänkirjautumiseen</a>
    <br>
    <a href="/register" class="loglink">Luo käyttäjätunnus</a>
</div>
{% endif %}
{% endblock %}