{% extends "layout.html" %}
{% block content %}
{% if session.user_id %}
<div class="logblock">
    <a href="/welcome_page" class="button" style="background-color: lightpink;">Oma sivu</a>
    <a href="/alcohols" class="button" style="background-color: lightpink;">Alkoholit</a>
    <a href="/favorites" class="button" style="background-color: lightpink;">Suosikit</a>
    <a href="/alcoholpage" class="button" style="background-color: lightpink;">Omat alkoholit</a>
  </div>
<h2>Suosikkisi:</h2>
<ul>
    {% for a in alcohols %}
    <li><a href="/alcohols/{{ a.id }}">{{ a.name }}</a>
    {% endfor %}
    </ul>
<p>
<p>
{% else %}
<h3>Vain sisäänkirjautunut käyttäjä voi toimia tällä sivulla</h3>
<div class="logblock"> 
    <h3 class="loglink">Kirjautumalla sisään voit</h3>
    <ul>
      <li>Lisätä ja arvostella alkoholeja</li>
      <li>Merkitä alkoholeja suosikiksi</li>
    </ul>
    <a href="/login" class="loglink"> Sisäänkirjautumiseen</a>
    <br>
    <a href="/register" class="loglink">Luo käyttäjätunnus</a>
</div>
{% endif %}
{% endblock %}