{% extends "layout.html" %}
{% block title %}Muokkaa lisäämääsi alkoholia{% endblock %}
{% block content %}
<div class="content">
  <h2>Muokkaa alkoholia</h2>
  <form action="/execute-modification" method="POST" onsubmit="return check(this)">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <input type="hidden" name="alcohol_id" value="{{ alcohol[0] }}">
    Otsikko: <br>
    <p>
      <input class="alcohol" type="text" name="title" value="{{ alcohol[4] }}" maxlength="50">
    </p>
    Kuvaus: <br>
    <p>
      <textarea name="description" maxlength="1000">{{ alcohol[5] }}</textarea>
    </p>
    Vivahteet: <br>
    <p id="notes">
      {% for n in notes %}
      <input class="alcohol" type="text" name="note" value="{{ i[0] }}" maxlength="100">
      {% endfor %}
    </p>
    <p>
      <button type="button" onclick="add_field()">Lisää rivi</button>
    </p>
    Prosenttti: <br>
    <p>
      <textarea name="persentage" maxlength="8">{{ alcohol[6] }}</textarea>
    </p>
    <p><b>Kategoria</b></p>
    <label for="categories">Choose a category:</label>
    <select name="categories" value="{{category}}">
    <option value="valkoviini">Valkoviini</option>
    <option value="punaviini">Punaviini</option>
    <option value="kuohuviini">Kuohuviini</option>
    <option value="roseviini">Roseviini</option>
    <option value="muu mieto alkoholijuoma">Mieto</option>
    <option value="olut">olut</option>
    <option value="siideri">siideri</option>
    <option value="gin">Gin</option>
    <option value="vodka">Vodka</option>
    <option value="rommi">Rommi</option>
    <option value="konjakki">Konjakki</option>
    <option value="viski">Viski</option>
    <option value="tequila">Tequila</option>
    <option value="jälkiruokaviini">Jälkiruokaviini</option>
    <option value="väkevöity viini">Väkevöity viini</option>
    <option value="mezcal">Mezcal</option>
    <option value="likööri">Likööri</option>
    <option value="Muut vahvat alkoholijuomat">Vahva</option>
  </select>
      {% endif %}
      {% endfor %}
    </p>
    <input type="submit" value="Tallenna">
    <a href="/alcohol/{{ alcohol[0] }}"><button type="button">Peruuta</button></a>
  </form>
</div>
<script>
  function add_field() {
    var x = document.getElementById("notes");
    var new_field = document.createElement("input");
    new_field.setAttribute("class", "alcohol");
    new_field.setAttribute("type", "text");
    new_field.setAttribute("name", "note");
    new_field.setAttribute("maxlength", "1000");
    x.append(new_field);
  }
</script>
<script>
  function check(form) {
    if (form.title.value.length == 0) {
      alert("Anna alkoholin nimi");
    } else if (form.title.value.length > 100) {
      alert("Nimen maksimipituus on 100 merkkiä");
    } else if (form.description.value.length > 1000) {
      alert("Kuvauksen maksimipituus on 1000 merkkiä");
    } else if (form.instruction.value.length > 8) {
      alert("Prosentin maksimipituus on 8 merkkiä");
    } else {
      return true;
    }
    return false;
  }
</script>
{% endblock %}