{% extends "layout.html" %}
{% block content %}
{% if session.user_id == recipe[2] %}
<div class="logblock">
    <a href="/welcome_page" class="button" style="background-color: lightpink;">Oma sivu</a>
    <a href="/alcohols" class="button" style="background-color: lightpink;">Alkoholit</a>
    <a href="/favorites" class="button" style="background-color: lightpink;">Suosikit</a>
    <a href="/alcoholpage" class="button" style="background-color: lightpink;">Omat alkoholit</a>
  </div>
<form action="/modify/{{id}}" method="POST">
    <h1>Muokkaa lisättyä alkoholia: {{ alcohols[1] }}</h1>
    <p><b>Nimi:</b>
        <input type="text" name="r_name" class="input" value="{{ alcohols[1] }}">
        <input type="submit" name="name" class="button" value="Muuta">
    </p>
    <p class="error">{{ name_error }}</p>
    <p><b>Prosentteja:</b>
        <input type="number" name="a_persentages" class="input" value="{{ alcohols[4] }}">
        <input type="submit" name="serves" class="button" value="Muuta">
    </p>
    <p><b>Kuvaus:</b><br>
        <textarea name="description" rows="9" cols="40" maxlength="10000">{{alcohols[3]}}</textarea><br>
        <input type="submit" name="change_instructions" class="button" value="Muuta">
    </p>
    <p class="error">{{ instruction_error }}</p>

    <h4 style="color: lightpink;">Lisää kategoria</h4>
    <ul id="list">
        {% for tag in tags %}
        <li> <input type="text" name="name_{{tag[0]}}" class="input" value="{{tag[0]}}">
            <input type="submit" name="{{tag[0]}}" class="button" value="Muuta">
        <input type="submit" name="remove_{{tag[0]}}" class="button" style="background-color: red;" value="X">
        {% endfor %}
        <br>
        <input type="text" name="add_new_tag" class="input" placeholder="uusi">
        <input type="submit" name="new_tag" class="button" style="background-color: lightpink;" value="Lisää">
    </ul>
    <br>
    <br>
    <input type="submit" name="ready" class="button" style="background-color: lightpink;" value="Valmis - siirry alkoholiin">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <br>
    <br>
</form>
{% else %}
<h3>Vain alkoholin lisännyt henkilö voi muokata sitä.</h3>
{% endif %}
{% endblock %}