{% extends "layout.html" %}
{% block content %}
<form action="/register" method="POST">
<h1>Anna käyttäjätunnus</h1>
<p class="error">{{ e_name }}</p>
<p>Käyttäjätunnus: 
    <input type="text" name="username" value="{{name}}">
</p>
<p class="error">{{ e_match }}{{ e_length }}</p>
<p>Anna salasana: 
    <input type="password" name="password1">
</p>
<p>Anna salasana uudelleen: 
    <input type="password" name="password2">
</p>
<input type="submit" class="button" value="Luo tunnus">
</form>
{% endblock %}