
{% extends "layout.html" %}
{% block content %}
{% if session.user_id %}
<h1>Käyttäjän {{ name }} oma sivu</h1>
<h1>
    <a href="/alcohols.html">Alkoholit</a>
</h1>
<br>
<div class="logblock" style="background-color: #ffa7e5">
    <h2>Toiminnot:</h2>
    <ol>
        <h3><li><a href="/add_new" style="color: #8b0068;">Lisää uusi alkoholi</a></li></h3>
        <h3><li><a href="/favorites" style="color: #8b0084;">Suosikki alkoholit</a></li></h3>
        <ul>
            <li><p>Selaa alkoholeja, jotka olet merkinnyt suosikiksi</p></li>
        </ul>
        <h3><li><a href="/alcoholpage" style="color: #8b0078;">Lisäämäsi alkoholit</a></li></h3>
        <ul>
            <li><p>Selaa ja muokkaa lisäämiäsi alkoholeja</p></li>
        </ul>
    </ol>
</div>
<br>
<br>
<a href="/" class="button">Palaa etusivulle</a>
<br>
<a href="/logout" class="button">Kirjaudu ulos</a>
{% else %}
<h3>Vain sisäänkirjautunut käyttäjä voi toimia tällä sivulla</h3>
<div class="logblock"> 
    <h3 class="loglink">Sisäänkirjautuneena voit</h3>
    <ul>
      <li>Lisätä uusia alkoholeja</li>
      <li>Merkitä alkoholeja suosikkeihin</li>
    </ul>
    <a href="/login" class="loglink"> Sisäänkirjautumiseen</a>
    <br>
    <a href="/register" class="loglink">Luo käyttäjätunnus</a>
</div>
{% endif %}
{% endblock %}